
.btn{
    padding: 6px 12px;
    background: #3b82f6;
    color: #fff;
    font-weight:bold;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.all{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.all > div{
    border-radius: 10px;
    overflow: hidden;
}

.left{
    width: 20%;
    height: max-content;
    border: 1px solid #eee;
    padding: 10px;
}

.right{
    width: 75%;
}

.contPano{
    width: 100%;
    height: 550px;
    position: relative;
    border-radius: 10px;
    overflow: hidden;
}

.pano{
    width: 100%;
    height: 100%;
}

.item{
    display: flex;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid #eee;
  cursor: pointer;
}

.imageList > div:last-child{
    border-bottom: none;
    margin-top: 15px;
}


.name{
    width: 100%;
  overflow: hidden;
  margin-left: 10px;
    word-break: break-word; /* کلمات طولانی بشکنن */
  white-space: normal;
  font-size: 14px;
}

.active{
    background: #c5fdc5;
  border-radius: 5px;
  border: 1px solid green;
  border-bottom: 1px solid green!important;
}

.imageList{
    margin-top: 20px;
}

.btns{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
    padding-bottom: 15px;
}

.btns button{
color: #fff;
  cursor: pointer;
  background: #7a7aff;
  border-radius: 5px;
  margin: 0 10px;
  padding: 10px;
  display: flex;
  align-items: center;
}

.btns button.activEv{
    background: transparent;
    outline: 2px solid #7a7aff;
    color: #7a7aff;
}

/* Info Hotspot */
.infoHotspot {
  position: absolute;
  z-index: 100;
  cursor: move;
  pointer-events: auto;
}


.infoBox {
position: relative;
  background: transparent;
  padding: 0;
  border-radius: 8px;
  min-width: 150px;
}

.text {
    background: #141313cc;
  padding: 5px 5px;
  color: #fff;
  font-size: 14px;
  width: 100%;
}

.title{
    background: #14131399;
  padding: 5px 5px;
  color: #fff;
  font-size: 16px;
  width: 100%;
}

.deleteBtn {
color: #fff;
  cursor: pointer;
  background: #f04949;
  border: none;
  border-radius: 100px;
  width: 25px;
  height: 25px;
  padding: 5px 8px;
  position: absolute;
  top: 24px;
  left: -25px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.info{
    position: absolute;
  width: 45px;
  height: 45px;
  background: #fff;
  border-radius: 100px;
  top: 23px;
  left: -23px;
}

.linkBox{
background: transparent;
  border-radius: 5px;
  width: 60px;
  height: 60px;
  overflow: hidden;
}

.linkIcon{
cursor: pointer;
  background: #fff url("https://marzipano1.storage.c2.liara.space/rotate-left.png") center / 53% no-repeat;
  border-radius: 100px;
  width: 25px;
  height: 25px;
  position: absolute;
  top: -7px;
  left: -16px;
}

.tgbtn{
background: #fff;
  border-radius: 100px;
  width: 25px;
  height: 25px;
  position: absolute;
  top: 51px;
  left: -8px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3px;
}

.tgbtn svg{
  width: 12px;
}

.export{
  background: green!important;
}

.targetSelect{
  position: absolute;
  background: #fff;
  padding: 5px;
  border-radius: 5px;
  font-size: 14px;
  width: 150px;
  top: 81px;
  left: -11px;
}

.prjname{
  width: 100%;
  margin-bottom: 10px;
  border: 1px solid #333;
  border-radius: 4px;
  padding: 10px;
  background: #eee;
}

.titleImage{
  background: #fff;
  margin-left: 8px;
  padding: 6px 5px;
  box-sizing: border-box;
  width: 80%;
  font-size: 14px;
  border-radius: 3px;
}

.infoBox > input:first-child{border-radius: 4px 4px 0px 0px;}
.infoBox > input:nth-child(2){border-radius: 0px 0px 4px 4px;}

@media (max-width:768px) {
  .left{width: 100%!important;}
  .right{width: 100%!important;margin-top: 20px;}
  .btns{flex-wrap: wrap;}
  .btns button{width: 100%!important;margin-bottom: 10px;justify-content: center;}
}

.optionsList {
z-index: 1000;
  cursor: pointer;
  background: #fff;
  border: 1px solid #ccc;
  width: max-content;
  max-height: 150px;
  margin: 0;
  padding: 0;
  list-style: none;
  position: absolute;
  overflow-y: auto;
  top: 89px;
  left: -24px;
}

.optionItem {
  padding: 5px 10px;
  font-size: 14px;
}

.optionItem:hover {
  background-color: #f0f0f0;
}

.activeOption {
  background-color: #007bff;
  color: white;
}