
.btn{
    padding: 6px 12px;
    background: #3b82f6;
    color: #fff;
    font-weight:bold;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.all{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.all > div{
    border-radius: 10px;
    overflow: hidden;
}

.left{
    width: 20%;
    height: max-content;
    border: 1px solid #eee;
    padding: 10px;
    background: #333;
}

.right{
    width: 75%;
}

.contPano{
    width: 100%;
    height: 550px;
    position: relative;
    border-radius: 10px;
    overflow: hidden;
}

.pano{
    width: 100%;
    height: 100%;
}

.item{
    display: flex;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid #eee;
  cursor: pointer;
  position: relative;
}

.imageList > div:last-child{
    border-bottom: none;
    margin-top: 15px;
}


.name{
    width: 100%;
  overflow: hidden;
  margin-left: 10px;
    word-break: break-word; /* کلمات طولانی بشکنن */
  white-space: normal;
  font-size: 14px;
}

.active{
    background: #00abff;
  border-radius: 5px;
  border: 1px solid #00abff;
  border-bottom: 1px solid #00abff!important;
}

.imageList{
    margin-top: 20px;
}

.btns{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
    padding-bottom: 15px;
}

.btns button{
color: #fff;
  cursor: pointer;
  background: #7a7aff;
  border-radius: 5px;
  margin: 0 10px;
  padding: 10px;
  display: flex;
  align-items: center;
}

.btns button.activEv{
    background: transparent;
    outline: 2px solid #7a7aff;
    color: #7a7aff;
}

/* Info Hotspot */
.infoHotspot {
  position: absolute;
  z-index: 100;
  cursor: move;
  pointer-events: auto;
}

.infoHotspot .deleteBtn{
  left: -31px;
}


.infoBox {
position: relative;
  background: transparent;
  padding: 0;
  border-radius: 8px;
  min-width: 150px;
}

.text {
    background: #141313cc;
  padding: 5px 5px;
  color: #fff;
  font-size: 14px;
  width: 100%;
}

.title{
    background: #14131399;
  padding: 5px 5px;
  color: #fff;
  font-size: 16px;
  width: 100%;
}

.deleteBtn {
color: #fff;
  cursor: pointer;
  background: #fff url("/images/trash-bin.png") no-repeat center;
  background-size: 70%;
  border: none;
  border-radius: 100px;
  width: 25px;
  height: 25px;
  padding: 5px 8px;
  position: absolute;
  top: 24px;
  left: -25px;
  display: flex;
  align-items: center;
  justify-content: center;
  filter: invert();
}

.info{
background: #3333338a url("/images/info.png") center / 100% no-repeat;
  border-radius: 100px;
  width: 45px;
  height: 45px;
  position: absolute;
  top: -27px;
  left: -55px;
}

.linkBox{
background: transparent;
  border-radius: 5px;
  width: 60px;
  height: 60px;
  overflow: hidden;
}

.linkIcon{
cursor: pointer;
  background: #fff url("/images/rotate.png") center / 53% no-repeat;
  border-radius: 100px;
  width: 25px;
  height: 25px;
  position: absolute;
  top: -7px;
  left: -16px;
  filter: invert();
}

.deleteBtn:hover,.linkIcon:hover,.tgbtn:hover{
  filter: inherit!important;
  cursor: pointer;
}

.dele{
background: #fff url("/images/trash-bin.png") center / 70% no-repeat;
  width: 20px;
  height: 20px;
  display: inline-block;
  border-radius: 100px;
  position: absolute;
  top: 4px;
}

.tgbtn{
background: #fff url("/images/pencil.png") no-repeat center;
background-size: 50% 50%;
  border-radius: 100px;
  width: 25px;
  height: 25px;
  position: absolute;
  top: 51px;
  left: -8px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3px;
  filter: invert();
}

.tgbtn svg{
  width: 12px;
}

.export{
  background: green!important;
}

.targetSelect{
  position: absolute;
  background: #fff;
  padding: 5px;
  border-radius: 5px;
  font-size: 14px;
  width: 150px;
  top: 81px;
  left: -11px;
}

.prjname{
  width: 100%;
  margin-bottom: 10px;
  border: 1px solid #333;
  border-radius: 4px;
  padding: 10px;
  background: #f8f8f8;
  color: #333;
}

.titleImage{
box-sizing: border-box;
  background: #fff;
  border-radius: 3px;
  width: 80%;
  margin-left: 8px;
  padding: 9px 9px;
  font-size: 14px;
  color: #333;
  font-size: 13px;
}

.infoBox > input:first-child{border-radius: 4px 4px 0px 0px;}
.infoBox > input:nth-child(2){border-radius: 0px 0px 4px 4px;}

@media (max-width:768px) {
  .left{width: 100%!important;}
  .right{width: 100%!important;margin-top: 20px;}
  .btns{flex-wrap: wrap;}
  .btns button{width: 100%!important;margin-bottom: 10px;justify-content: center;}
}

.optionsList {
z-index: 1000;
  cursor: pointer;
  background: #4e4e4e;
  border: 1px solid #ccc;
  width: max-content;
  max-height: 150px;
  margin: 0;
  padding: 0;
  list-style: none;
  position: absolute;
  overflow-y: auto;
  top: 89px;
  left: -24px;
  color: #fff;
  border-radius: 5px;
}

.optionsList ul{
  background: #626262;
}

.heasd{
  padding: 7px 9px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.clss{
  display: inline-block;
  width: 20px;
  height: 20px;
  background: url("/images/close.png") no-repeat center;
  background-size: 100% 100%;
}

.optionItem {
  padding: 5px 10px;
  font-size: 14px;
}

.optionItem:hover {
  background-color: #1c1a1a;
}

.activeOption {
  background-color: #007bff;
  color: white;
}